[submodule "third_party/googletest"]
	path = third_party/googletest
	url = git@github.com:google/googletest.git
[submodule "third_party/ideep"]
	path = third_party/ideep
	url = git@github.com:intel/ideep.git
[submodule "third_party/libxsmm"]
	path = third_party/libxsmm
	url = git@github.com:libxsmm/libxsmm.git
[submodule "third_party/oneCCL"]
	path = third_party/oneCCL
	url = git@github.com:oneapi-src/oneCCL.git
[submodule "third_party/sleef"]
	path = third_party/sleef
	url = git@github.com:shibatch/sleef.git

